.gradient-bg {
    background: linear-gradient(to left, #009688 30%, #009688, #009688) !important;
    /*background: linear-gradient(to left, #3F51B5 30%, #3F51B5, #3F51B5) !important;*/
    /*  background: linear-gradient(to left, #303F9F, #303F9F, #303F9F); */
}


/* this is for sideNav that shows on large screens */

header,
main,
footer {
    padding-left: 300px;
}

.pl-0 {
    padding-left: 0;
}

.txt-md {
    font-size: 1em;
}

.txt-sm {
    font-size: .85em;
}

.mt {
    margin-top: 65px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pt-5 {
    padding-top: 5px;
}

.p5 {
    padding: 5px;
}

.d-none {
    display: none;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-5 {
    margin-top: 5px;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-20 {
    margin-top: 20px !important;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.emp-img {
    height: 35px;
    width: 35px;
}

.emp-img-big {
    height: 180px;
    width: 100%;
}

.card-title {
    font-weight: normal !important;
}

.card-mt-15 {
    /* vh is viewport.*/
    margin-top: 15vh;
}

.material-icons {
    color: #616161;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.no-margin {
    margin: 0 !important;
}


/* styles for login form */

.card-login {
    margin-top: 15%;
}

.card-title-login h5 {
    /* margin: 0 !important; */
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.container-fluid {
    margin: 0 auto;
    width: 90%;
}

.main-login {
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(180deg, #009688, #303F9F);
    background-size: cover;
}


/* login end */

.background {
    background: linear-gradient(180deg, #009688, #009688);
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    .mx-med-20 {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .card-login {
        margin-top: 25%;
    }
    h4 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .ml-14 {
        margin-left: 14% !important;
    }
}